PORT=8080
DATABASE_URL=postgres://postgres:{your_pass}@localhost:5432/siem?sslmode=disable
#JWT_SECRET=какой-то-очень-длинный-секрет
ELASTIC_URL={elastic_url}
DETECTION_BF_THRESHOLD=5
DETECTION_BF_WINDOW_SEC=30